<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BeeRanger.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>89BB37EF224D14D700AD74CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89BB3807224D14D800AD74CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89BB3812224D14D800AD74CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
